body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: blueviolet;
}


.delete-form {
  display: inline-block;
  margin-right: 10px;
}
	
.delete-form button {
  color: red;
}

	
li {
  list-style: none;
}

a {
  color:deepskyblue;
  font-size: medium;
}

h1{
color: white;

}
h3{
color: white;

}

ul{


  color: white;
  font-size: medium;
}

text {
  color: white;
  font-weight: bold;
}


